extends layout

block content
    h1 Collections!
    #list.span4.well
        ul
            each col in collection
                li
                    //a(href="#!/list/" + col.name)= col.desc
                    //a(href="#", data-name=col.name).del_collection.right.btn.btn-mini  del
                    p!= Handlebars.compile(col.template ? col.template : "{{meta.desc}}")({meta:col})

        .form-actions
            button.btn.add_collection Add
            &nbsp;
            button.btn.edit_meta Edit Meta


    .span8.well
        #col_info
            p info about collections
            p collection actions
        #items
            ul