#col_actions.btn-toolbar
    .btn-group
        button(class='del_collection btn btn-danger') Del
        button(class='btn') Edit
        button(class='btn') Add

#col_info
    pre#meta_info
    p collection actions
    #items
        ul