doctype 5
html
    head
        title Collections
        link(rel='stylesheet', href='/components/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/components/css/codemirror.css')
        //link(rel='stylesheet', href='/components/css/ambiance.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/components/require.js', data-main='/components/init.js')


    body
        #content.row
            block content

        #modals
            include modals
