doctype 5
html
    head
        title Collections
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/components/jquery/jquery.min.js')
        script(src='/components/underscore/underscore-min.js')
        script(src='/components/backbone/backbone.js')
        script(src='/javascripts/main.js')
    body
        block content
