body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}
a {
  color: #00b7ff;
}
.left {
  float: left;
}
.right {
  float: right;
}
#lc ul li {
  margin-top: 4px;
}
.collection {
  border-bottom: 1px #ccc solid;
  background: #eee;
  padding: 8px;
}
